In [1]:
import numpy as np
import pandas as pd

In [2]:
egy = pd.read_csv("energy.out")

In [3]:
egy['Ltot'] = np.sqrt(egy['Lx']**2 + egy['Ly']**2 + egy['Lz']**2)
egy['Etot'] = egy['Eorbit'] + egy['Ecollisions']
egy['(Eorbit - E0)/E0'] = (egy['Eorbit'] - egy['Eorbit'][0]) / np.abs(egy['Eorbit'][0])
egy['(Etot - E0)/|E0|'] = (egy['Etot'] - egy['Eorbit'][0]) / np.abs(egy['Eorbit'][0])
egy['|(L - L0)/L0|'] = np.abs((egy['Ltot'] - egy['Ltot'][0]) / egy['Ltot'])
egy['|(M - M0)/M0|'] = np.abs((egy['Mtot'] - egy['Mtot'][0]) / egy['Mtot'])

In [4]:
egy['Ltot'] - egy['Ltot'][0]

0        0.00
1    20875.25
Name: Ltot, dtype: float64

In [5]:
egy['Lx'] - egy['Lx'][0], egy['Ly'] - egy['Ly'][0], egy['Lz'] - egy['Lz'][0]

(0     0.000000
 1   -24.767944
 Name: Lx, dtype: float64,
 0     0.000000
 1   -15.159668
 Name: Ly, dtype: float64,
 0        0.0
 1    20875.5
 Name: Lz, dtype: float64)

In [6]:
egy

,t,Eorbit,Ecollisions,Lx,Ly,Lz,Mtot,Ltot,Etot,(Eorbit - E0)/E0,(Etot - E0)/|E0|,|(L - L0)/L0|,|(M - M0)/M0|
0,0.00,-3.828052e+11,0.000000e+00,-3.169967e+11,-1.180161e+12,1.894884e+15,4.283887e+13,1.894884e+15,-3.828052e+11,0.000000,0.000000e+00,0.000000e+00,0.0
1,0.01,-2.095140e+11,-1.732912e+11,-3.169967e+11,-1.180161e+12,1.894884e+15,4.283887e+13,1.894884e+15,-3.828052e+11,0.452688,4.783255e-16,1.101664e-11,0.0